body{
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
a{
  display: inline-block;
}
/*navbar*/
.backgro{
    background-color: #090514;
}
/*title*/
.titlesection-div{
  background-color: #090514;
  width: 100%;
  height: 750px;
  color: white;
  position: relative;
  text-align: center;
}
.intropic{
  display:block;
  position: absolute;
  width: 668px;
  height: 668px;
}
.bluepillno{
  margin-left: 48%;
}
.redpillyes{
  margin-right:50%;
}
 /*hover effect*/
 .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 668px;
  width:  668px;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  margin: 0;
}
.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.intropic:hover .overlay{
  opacity: 1;
}
/* food types*/
.card{
  height:23rem;
  width: 18rem;
  padding: 20px
}
.col{
  margin: 30px;
}
.foodtype{
padding: 20px;
background-color: #9E7777
}
.aboutfood{
  padding:20px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  background-color: #3E2C41;
  color: #F3F2C9;
}
 /*credits*/
 .credits{
   text-align: center;

 }
